#ozTabs { /* タブのコンテナ */
    list-style : none;
    padding : 0;
    margin-bottom: 0;
    overflow : hidden;
    }
  .ozTab { /* タブの基本設定 */
    float : left;
    padding : 5px 10px 3px;
    border-width : 1px;
    border-style : solid;
    border-color : #CCC #CCC #FFF #CCC;
    border-radius : 4px 4px 0 0;
    }
  .ozTab:hover { /* マウスオーバー時の指定 */
    background-color : #EEE;
    cursor : pointer;
    }
  .ozTab + .ozTab { margin-left: 10px; }
  .tabBody { /* コンテンツのコンテナ */
    background: #ffffff;
    z-index : 0;
    list-style : none;
  }

.weekly_array { display: none; }

  .tabContent { display: none; }
  .active { /* カレント判定 */
    background: #ffffff;
    display : block;
    position : relative;
    z-index : 1;
  }